<h1>Dữ liệu sinh viên: @ViewBag.infoStudent</h1>
<form asp-action ="Index">
        <label>Nhập PresonID</label>
        <input type="text" name="PresonID">
    </div>
    <label>Nhập FullName</label>
    <input type="text" name="FullName">
    <label>Nhập địa chỉ</label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
</form>